<html xmlns:th="http://www.thymeleaf.org">
    <!--begin::Footer-->
    <footer th:fragment="footer" ng-controller="unAuthController" class="ftco-footer ftco-bg-dark ftco-section">
        <div class="container">
          <div class="row mb-5">
            <div class="col-md-6 col-lg-3">
              <div class="ftco-footer-widget mb-5">
                  <p class="ftco-heading-2" ng-bind-html="structureDto.bio"></p>
                  <div class="block-23 mb-3">
                    <ul>
                      <li><span class="icon icon-map-marker"></span><span class="text">{{structureDto.localisation}}</span></li>
                      <li><a href="#"><span class="icon icon-phone"></span><span class="text">{{structureDto.telephone}}</span></a></li>
                      <li><a href="#"><span class="icon icon-envelope"></span><span class="text">{{structureDto.email}}</span></a></li>
                    </ul>
                  </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
             
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="ftco-footer-widget mb-5 ml-md-4">
                <h2 class="ftco-heading-2">Liens</h2>
                <ul class="list-unstyled">
                  <li><a href="/"><span class="ion-ios-arrow-round-forward mr-2"></span>Accueil</a></li>
                  <li><a href="/qui-sommes-nous"><span class="ion-ios-arrow-round-forward mr-2"></span>Qui sommes-nous</a></li>
                  <li><a href="/services"><span class="ion-ios-arrow-round-forward mr-2"></span>Services</a></li>
                  <li><a href="/blog"><span class="ion-ios-arrow-round-forward mr-2"></span>Blog</a></li>
                  <li><a href="/contact"><span class="ion-ios-arrow-round-forward mr-2"></span>Contact</a></li>
                  <li><a href="/login" target="_blank"><span class="ion-ios-arrow-round-forward mr-2"></span>Connexion</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="ftco-footer-widget mb-5">
                  <h2 class="ftco-heading-2">Abonnez-vous !</h2>
                <form action="#" class="subscribe-form">
                  <div class="form-group">
                    <input ng-model="newsletterDto.usermail" type="text" class="form-control mb-2 text-center" placeholder="Enter email address">
                    <input type="submit" ng-click="newsletter()" value="Subscribe" class="form-control submit px-3">
                  </div>
                </form>
              </div>
              <div class="ftco-footer-widget mb-5">
                  <h2 class="ftco-heading-2 mb-0">Connectez-vous avec nous</h2>
                  <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                  <li class="ftco-animate"><a href="/{{structureDto.twitter}}" target="_blank"><span class="icon-twitter"></span></a></li>
                  <li class="ftco-animate"><a href="/{{structureDto.facebook}}" target="_blank"><span class="icon-facebook"></span></a></li>
                  <li class="ftco-animate"><a href="/{{structureDto.instagram}}" target="_blank"><span class="icon-instagram"></span></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-center">
  
              <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> Tous droits réservés </p>
    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>
          </div>
        </div>
      </footer>
</html>