<html xmlns:th="http://www.thymeleaf.org">
    <!--begin::Footer-->
        <nav th:fragment="nav" ng-controller="unAuthController" class="navbar navbar-expand-lg navbar-dark bg-dark ftco-navbar-light" id="ftco-navbar">
            <div class="container d-flex align-items-center">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
              </button>
              <form action="#" class="searchform order-lg-last">
              <div class="form-group d-flex">
                <input type="text" class="form-control pl-3" placeholder="Search">
                <button type="submit" placeholder="" class="form-control search"><span class="ion-ios-search"></span></button>
              </div>
            </form>
              <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" th:classappend="${title == 'Accueil' ? ' active' : ''}">
                        <a href="/" class="nav-link pl-0">Accueil</a>
                    </li>
                    <li class="nav-item" th:classappend="${title == 'Qui sommes-nous' ? ' active' : ''}"><a href="/qui-sommes-nous" class="nav-link">Qui sommes-nous</a></li>
                    <!-- <li class="nav-item"><a href="project.html" class="nav-link">Projects</a></li> -->
                    <li class="nav-item" th:classappend="${title == 'Services' ? ' active' : ''}"><a href="/services" class="nav-link">Services</a></li>
                    <li class="nav-item" th:classappend="${title == 'Blog' ? ' active' : ''}"><a href="/blog" class="nav-link">Blog</a></li>
                  <li class="nav-item" th:classappend="${title == 'Contact' ? ' active' : ''}"><a href="/contact" class="nav-link">Contact</a></li>
                </ul>
              </div>
            </div>
          </nav>
        <!-- END nav -->
</html>